html{
    font-size: calc(10px,1vmin);
}
.testimonial-section{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
.testimonial-section-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.testimonial-section-h1 span{
    color: rgb(2, 2, 106);
}
.testimonial-section-p{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.testimonial-div{
    min-height: 60vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.testimonial-card{
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 20vh;
    width: 600px;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
}
.testimonial-card:hover{
    background-color: rgba(255, 166, 0, 0.816);
    transition: 1s;  
    color: white !important;
    /* transform: scale(1.02); */
    transform: translateY(-10px);
    border: none;
}
.testimonial-card:not(:hover){
    background-color: white;
    transition: 1s;
}
.testimonial-card-head{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.testimonial-card-head h1{
   font-size: 1.8rem;
}
.testimonial-card-head h2{
    font-size: 1.4rem;
    align-self: center;
    color: rgb(2, 2, 98);
 }
.testimonial-card-body{
    display: flex;
}
.testimonial-card-body img{
    border-radius:100px;
    height: 5rem;
}

 /* medai query  */
 @media (max-width:1370px){
    .testimonial-card{
        width: 550px;
    }
 }
 @media (max-width:1270px){
    .testimonial-card{
        width: 450px;
    }
 }
 @media (max-width:1050px){
    .testimonial-card{
        width: 750px;
        min-height: 15vh;
    }
 }
 @media (max-width:800px){
    .testimonial-section-h1{
        font-size: 3rem;
    }
    .testimonial-section-p{
        font-size: 1.3rem;
    }
 }
 @media (max-width:500px){
    .testimonial-section-h1{
        font-size: 2.5rem;
    }
 }