/* head section//////////////////////////////////// */

#head-section-portfolio-page {
    background-image: url("../../assets//images//portfolio/compress-portfolio1.jpg");
    /* background-color: #15142f; */
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
  }
  
  
  
  /* portfolio text/////////////////////////////////////////////////////// */
  .who-we-are-portfolio-page {
    /* background-color: aqua; */
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .who-we-are-portfolio-page h2 {
    font-size: 3rem;
    color: rgb(1, 1, 107);
    font-family: 500;
    text-align: center;
  }
  
  .who-we-are-portfolio-page p {
    font-size: 1.3rem;
  }
  
  /*end //////////////////////////////////////////////// */
  
  
  
  
  
  /* portfolio card section */
  .card-container-portfolio-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 5%;
  
  }
  
  .card-portfolio-page{
    width: calc(50% - 50px);
    /* Adjust as needed for spacing */
    margin: 10px;
    position: relative;
    box-shadow: 1px 1px 10px black;
  }
  
  .card-portfolio-page:hover {
    transition: 1s;
    transform: scale(1.03);
  }
  
  .card-inner-portfolio-page {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-portfolio-page img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-content-portfolio-page {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 80, 0.89);
    color: #fff;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
  }
  
  .card-portfolio-page:hover .card-portfolio-page img {
    transform: scale(1.1);
  }
  
  .card-portfolio-page:hover .card-content-portfolio-page {
    transform: translateY(0);
    opacity: 1;
  }
  
  @media (max-width: 768px) {
    .card-portfolio-page {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
  
    .who-we-are-portfolio-page h2 {
      font-size: 2.5rem;
    }
    
  }
  @media (max-width: 400px) {
  
    .who-we-are-portfolio-page h2 {
      font-size: 2rem;
    }
    
  }
  /* end */